.main_admin_create{
    margin-top: 90px;

    label {
        font-weight: bold;
    }
    .image_container img{
      height: 450px;
      margin-top: 50px;
    }


    @media (max-width: 768px) {
        .image_container img {
            height: 196px;
            margin-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
        .image_container img {
            height: 300px;
            margin-top: 50px;
        }
    }

    @media (min-width: 991.98px) and (max-width: 1199.98px) {
        .image_container img {
            height: 400px;
            margin-top: 50px;
        }
    }

    .slogan {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

     h2 {
        font-size: 3em;
        font-weight: bold;
        color: $color-logo;
     }
    }
    
    .little_slogan {

        margin-bottom: 20px;
        background-color: $color-logo;
        text-align: center;
        

        span {
            color: white;
            font-size: 1.5em;
            font-weight: bold;
        }
        
    }

    .card {
        border: 1px solid $color_primary;
        box-shadow: 0px 5px 7px 0px rgba(222, 222, 222, 1);
        padding: 10px;


        

        
        .results_div {
            position: relative;

            
        }

        .results.container {
            top: 0px;
            left: 0px;
            width: 100%;
            z-index: 2;
            position: absolute;
            padding: 5px 5px;
            display: inline-block;
            background-color: white;
            border-radius: 25px;
            box-shadow: 0px 5px 7px 0px rgba(222, 222, 222, 1);

            .entry_result {
                border: 1px solid lightgrey;
            }
        }

        .address_hidden {
            margin-top: 10px;
        }

        

        .extra_input {
            margin-top: 10px;
            margin-left: 10px;
        }

        @media (max-width: 576px) {
            .extra_input {
                margin-top: 5px;
                margin-left: 20px;
            }
        }

        @media (max-width: 768px) {
            .extra_input {
                margin-top: 5px;
                margin-left: 20px;
            }
        }

        .btn_search {
            @include look;
            display: inline-block;
            padding: 10px 20px;
            margin-top: 10px;
            margin-right: 5px;

            
        }

    }

    .box_text{
     margin-left: 20px;
     margin-top: 100px;

     h3 {
         font-weight: bold;
     }
    }

}