.main_admin_create{

    label {
        font-weight: bold;
    }
    .image_container img{
      height: 450px;
      margin-top: 50px;
    }
    .slogan {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

     h2 {
        font-size: 3em;
        font-weight: bold;
        color: $color_primary;
     }
    }


    .little_slogan {

        margin-bottom: 20px;

        span {
            color: $grey;
            font-size: 1.5em;
            font-weight: bold;
        }
        
    }

}