* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{

  background-color: white;
}

.navbar {
    z-index: 3;
}
.active_search {
  background-color: lightgrey;
}
.footer{
  width: 100%;
  background-color: #F7F7F7;
  color: #1E1E1E;
  padding: 60px 0 25px;
}
.footer_top{
  border-bottom: 1px groove lightgray;
}
.footer_bottom{
  padding-top: 15px;
}
.footer_bottom_right{
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
}
.footer_bottom_right i{
  margin-left: 3em;
}



// MEDIA-QUERY

@media screen and (max-width:766px){
    .footer_bottom_right{
    justify-content: center;
  }
    .footer_bottom_right i{
    margin-left: 0;
    margin: 1.5rem
  }
}