#noResults {
    display: inline-block;
    position: absolute;
    margin-top: 56px;
    width: 100%;
    text-align: center;
}
.container {
    section {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        // // align-items: center;
        .down {
            // display: flex;
            // justify-content: center;
            // align-items: center;
            position: absolute;
            bottom: 50px;
            color: black;
            letter-spacing: .1em;
            text-decoration: none;
            transition: opacity .3s;
            font-size: 1.3em;
            i.bounce {
                animation: bounce 2s infinite;
            }
        }
        a:hover {
            opacity: .5;
        }
        } 
    #search-section {
        a {
            span {
                position: absolute;
                top: 0;
                left: 50%;
                width: 24px;
                height: 24px;
                margin-left: -12px;
                border-left: 1px solid #fff;
                border-bottom: 1px solid #fff;
                box-sizing: border-box;
            }
        }
        .search-container {
            position: absolute;
            width: 100%;
            margin-top: 140px;
            left: 50%;
            transform: translate(-50%, 0);
            border: 3px solid $color_primary;
            padding: 20px;
            border-radius: 10px;
            .search_box {
                display: flex;
                border: 1px solid white;
                -webkit-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
                -moz-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
                height: 60px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                background-color: white;
                input {
                    border: 1px solid white;
                    border-radius: 10px;
                    height: 60px;
                    width: 90%;
                }
                .btn_search {
                    display: inline-block;
                    background-color: $color_primary;
                    padding: 10px 20px;
                    color: white;
                    font-weight: 500;
                    margin-right: 5px;
                    border-radius: 8px;
                    border: 1px solid $color_primary;
                    .btn_search:hover {
                        background-color: hsl(340, 82%, 29%);
                    }
                }
                .results.container {
                    z-index: 2;
                    position: absolute;
                    padding: 10px 28px;
                    display: inline-block;
                    background-color: white;
                    top: 120px;
                    border-radius: 25px;
                    -webkit-box-shadow: 0px 5px 7px 0px rgba(222, 222, 222, 1);
                    .entry_result {
                        border: 1px solid lightgrey;
                    }
                }
            }
        }
        .sponsored-preview {
            display: flex;
            justify-content: center;
            align-items: center;
            .sponsored-container {
                position: absolute;
                bottom: 110px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                .sponsored-houses {
                    padding-top: 10px;
                    display: flex;
                    justify-content: space-around;        
                }
            }
        }
    }


    // SEZIONE SPONSORIZZATA CON TUTTI GLI ANNUNCI
    #sponsored-section {
        // align-items: center;
        .sponsored-houses {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a.up {
            position: absolute;
            bottom: 50px;
            color: black;
            letter-spacing: .1em;
            text-decoration: none;
            transition: opacity .3s;
            font-size: 1.3em;
            i.bounce {
                animation: bounce 2s infinite;
            }
        }
        a.up:hover {
            opacity: .5;
        }
    }
}
@keyframes bounce {
    0%,20%,50%,80%,100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }

}