
.main_home {
    width: 100%;
    margin: 0 auto;
    
    .jumbo {
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            width: 40%;
            padding-left: 120px;
            h1{
                font-size: 40px;
            }
            
        }
        .img {
            width: 50%;
            img {
                width: 100%;
            }
        }
    }
    .search_box{
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 40px auto;
        box-shadow: 0px 0px 16px -10px rgba(0,0,0,0.75);
        
        .address-input{
            width: 90%;
            height: 50px;
            background-color: none;
            text-align: center;
            border: none;
            outline: none;
            
        }
        .btn_search{
           height: 50px;
           border: none;
           padding: 10px;
           color: $color_primary;
        }
        .results{
            position: absolute;
            left: 0;
            top: 50px;
            width: 100%;
            .indirizzo{
                border: 1px solid lightgrey;
            }
        }
    }
}
