main {
    min-height: calc(100vh - 333px);
    margin-top: 200px;

    .container {
        .search-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 2.3rem;
                color: $color-logo;
                border-right: solid 3px rgba(95, 95, 95, 0.75);
                white-space: nowrap;
                overflow: hidden;
                animation: typewriter 3s steps(44) 1s 1 normal both,
                    blinkTextCursor 700ms steps(44) infinite normal;
            }

            @keyframes typewriter {
                from {
                    width: 0;
                }

                to {
                    width: 19.5em;
                }
            }

            @keyframes blinkTextCursor {
                from {
                    border-right-color: rgba(87, 87, 87, 0.75);
                }

                to {
                    border-right-color: transparent;
                }
            }

            .search_box {
                display: flex;
                border: 1px solid white;
                -webkit-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
                -moz-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
                height: 60px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
                background-color: white;
                width: 100%;

                input {
                    border: 1px solid white;
                    border-radius: 10px;
                    height: 60px;
                    width: 90%;
                    padding: 5px 20px;
                }

                .btn_search {
                    @include look;
                    display: inline-block;
                    padding: 10px 20px;
                    margin-right: 5px;
                    display: flex;
                    border: 1px solid $color-logo;
                    align-items: center;

                    i {
                        margin-right: 5px;
                    }
                }

                .btn_search:hover {
                    opacity: 1;
                }

                .results.container {
                    margin-top: 201px;
                    z-index: 2;
                    position: absolute;
                    padding: 10px 28px;
                    display: inline-block;
                    background-color: white;
                    top: 112px;
                    border-radius: 25px;
                    -webkit-box-shadow: 0px 5px 7px 0px rgba(222, 222, 222, 1);
                }
            }
        }

        .sponsored-container {
            margin: 200px 0 150px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                i {
                    color: $color_primary;
                }
            }

            .sponsored-houses {
                display: flex;

                .row._row {
                    justify-content: center;

                    .space {
                        padding: 15px;

                        .card_box {
                            position: relative;
                            box-shadow: 0px 0px 12px -5px rgba(92, 91, 92, 1);
                            height: 288px;
                            padding: 10px;

                            .sponsored {
                                position: absolute;
                                top: .5rem;
                                right: .5rem;
                                height: 2rem;
                                line-height: 2rem;
                                padding: 0 1rem;
                                border-radius: .4rem;
                                background-color: $color_primary;
                                color: white;
                            }

                            .card-wrap {
                                height: 160px;
                                width: 266px;

                                .card-img-top {
                                    height: 100%;
                                    width: 100%;
                                }
                            }

                            .card-body {
                                .card-text {
                                    margin: 0 0 .6rem;
                                }

                                a.btn.btn-primary {
                                    opacity: 1;
                                    transition: 0.3s;
                                    background-color: $color_primary;
                                    border: 1px solid $color_primary;
                                }

                                a.btn.btn-primary:hover {
                                    opacity: 0.6;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    main {
        .container {
            .search-container {
                h1 {
                    font-size: 1.8rem;
                }
            }

            .card_box {
                margin: auto;
            }
        }
    }
}


@media (max-width: 576px) {
    main {
        .container {
            .search-container {
                h1 {
                    font-size: 1.5rem;
                }
            }

            h3 {
                font-size: 1.3rem;
            }
        }
    }
}
