#noResults {
    display: inline-block;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.searchHouses {
    display: inline-block;

    ._search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #results {
        top: 160px;
    }

    .container-sponsored {
        // background-color: brown;
    }

    .house-results {
        // background-color: blanchedalmond;
    }

    .card_box {
        @include cardBox;
        // width: 250px;

        .img-container {
            img {
                height: 300px;
            }
        }

        .sponsored {
            position: absolute;
            top: .5rem;
            right: .5rem;
            height: 2rem;
            line-height: 2rem;
            padding: 0 1rem;
            border-radius: .4rem;
            background-color: $color-logo;
            color: white;
        }

        .btn_look {
            // margin: 10px;
            padding: 10px 20px;
            font-weight: bold;
            color: white;
            background-color: $color-logo;
            border: 0;

            &:active,
            &:hover,
            &:focus {
                color: white;
                background-color: $color_primary;
                outline: $color_primary;
            }
        }
    }

    // filtri
    .filters {
        // background-color: cadetblue;
        margin-top: 15px;

        .filter_input {
            // background-color: peru;
            -webkit-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
            -moz-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
            border: 0;
            padding: 10px;
            text-align: center;
            // height: 100%;
            // width: 200px;
            height: 30px;
            width: 50%;
            border-radius: 50px;

            &:focus {
                border-color: white;
                outline: none;
            }
        }

    }

    .option-wrap {
        label {
            margin-right: 10px;
        }
    }

    .option_icon {
        color: $color_primary;
        padding-right: 5px;
    }

    .service {
        color: $color_primary;
    }

    .extras-filter {
        padding: 15px 0 10px 0;


        .extra_icon {
            color: $color_primary;
            padding-right: 5px;
        }

        input.checkbox-filter {
            margin: 0 10px 0 5px;
        }

        .wrap_button {
            margin: auto;
        }
    }

    .btn.btn_filters {
        background-color: white;
        padding: 5px 10px;
        border: 2px solid $color_primary;
        border-radius: 50px;
        color: $color_primary;
        font-weight: bold;

        &:active,
        &:focus {
            outline: none;
            // border: none;
        }

        &:hover {
            background-color: $color_primary;
            color: white;
        }
    }

    @media (min-width: 576px) {
        .search_box {
            width: 80%;
        }

    }

    @media screen and (max-width:766px) {

        .wrapper {
            flex-direction: column;
        }

        .option-wrap {
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
        }

    }
}
