#noResults {
    display: inline-block;
    position: absolute;
    width: 100%;
    margin-top: -45px;

    text-align: center;
}

.searchHouses {
    .hiding { 
        // -webkit-filter: blur(5px);
        // -moz-filter: blur(5px);
        // -o-filter: blur(5px);
        // -ms-filter: blur(5px);
        filter: blur(5px);
    }

    h1 {
        color: $color-logo;
    }
    margin-top: 100px;
    .main-search {
        .search_box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            border-radius: 10px;
            -webkit-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
            -moz-box-shadow: 0px 0px 7px 0px rgba(222, 222, 222, 1);
            #address {
                border: 1px solid white;
                border-radius: 10px;
                height: 60px;
                width: 90%;
                padding: 5px 20px;
            }
            .btn_search {
                @include look;
                display: inline-block;
                padding: 10px 20px;
                margin-right: 5px;
                display: flex;
                border: 1px solid $color-logo;
                align-items: center;
                margin-right: 20px;
            }
            #distance {
                width: 70px;
                padding: 5px;
                margin-right: 20px;
                border-radius: 10px;
                border: 1px solid black;
            }
            .results.container {
                margin-top: 121px;
                z-index: 2;
                position: absolute;
                padding: 10px 28px;
                display: inline-block;
                background-color: white;
                top: 112px;
                border-radius: 25px;
                -webkit-box-shadow: 0px 5px 7px 0px rgba(222, 222, 222, 1);
            }
        }
        .filters {
            text-align: right;
            margin-top: 20px;
            margin-bottom: 50px;
            #bathrooms,
            #room_number,
            #beds {
                width: 70px;
                padding: 5px;
                margin-right: 20px;
                border-radius: 10px;
                border: 1px solid black;
            }
            input[type='checkbox'] {
                margin-right: 25px;
            }
            .btn_filters {
                background-color: white;
                padding: 5px 10px;
                border: 2px solid $color-logo;
                border-radius: 10px;
                color: $color-logo;
                font-weight: bold;

                &:active,
                &:focus {
                    outline: none;
                    // border: none;
                }

                &:hover {
                    background-color: $color_primary;
                    color: white;
                }
            }
        }
    }
    .container-fluid {
        .row {
            .card.card_box {
                @include cardBox;
                // width: 250px;
                margin-bottom: 20px;
        
                .img_container {
                    img.card-img-top.img {
                        height: 300px;
                    }
                }
                .sponsored {
                    position: absolute;
                    top: .5rem;
                    right: .5rem;
                    height: 2rem;
                    line-height: 2rem;
                    padding: 0 1rem;
                    border-radius: .4rem;
                    background-color: $color-logo;
                    color: white;
                }   
                .btn_look {
                    // margin: 10px;
                    padding: 10px 20px;
                    font-weight: bold;
                    color: white;
                    background-color: $color-logo;
                    border: 0;     
                    &:active,
                    &:hover,
                    &:focus {
                        color: white;
                        background-color: $color_primary;
                        outline: $color_primary;
                    }
                }
                
            }
            .house {
                margin-bottom: 100px;
                line-height: 40px;
                .img_container {
                    img.card-img-top.img {
                        height: 300px;
                    }
                }
            }
        }
    }
}
@media (min-width: 576px) {
    .search_box {
        width: 80%;
    }

}

@media screen and (max-width:766px) {
    i.option_icon {
        margin-right: 20px;
    }

    .card.card_box {
        margin: 0 20px;

    }
    .radius-text {
        display: none;
    }
}