.searchHouses {
    .primary {
        color: $color_primary;
    }

    .btn.btn-send {
        padding: 10px 20px;
        color: white;
        font-weight: bold;
        background-color: $color-logo;

        &:hover {
            color: white;
        }
    }
}
