#noResults {
    display: inline-block;
    position: absolute;
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.searchHouses {

    .container-sponsored {
        background-color: brown;
    }

    .house-results {
        background-color: blanchedalmond;
    }

    .card_box {
        @include cardBox;

        .sponsored {
            position: absolute;
            top: .5rem;
            right: .5rem;
            height: 2rem;
            line-height: 2rem;
            padding: 0 1rem;
            border-radius: .4rem;
            background-color: $color-logo;
            color: white;
        }

        .btn_look {
            // margin: 10px;
            padding: 10px 20px;
            font-weight: bold;
            color: white;
            background-color: $color-logo;
            border: 0;

            &:active,
            &:hover,
            &:focus {
                color: white;
                background-color: $color_primary;
                outline: $color_primary;
            }
        }
    }
}
