.inbox_messages {
    .title {
        // font-weight: bold;
        color: $color-logo;
    }


    .card-header a {
        color: $color_seconary;

        &:hover {
            color: $color_primary;
        }
    }

    .sender {
        color: $color-logo;
    }

    .date {
        text-decoration: underline;
    }
}
