.main_show{
  .img_show{
    margin-top: 35px;
    margin-bottom: 35px;
  }
  h2{
    text-align: center;
    color: $color_primary;
    margin-bottom: 35px;
  }
  h4{
    font-weight: 600;
    color: lightslategray;
  }
}